html,
body {
  font-size: 20px;
  font-family: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.form-outline {
  position: relative;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 15px;
  color: gray;
  pointer-events: none;
  user-select: none;
  transition: 0.25s ease;
}

input {
  border: 1px solid gray;
}
.form-control:not(:placeholder-shown) + .form-label,
.form-control:focus + .form-label {
  top: 5px;
  color: black;
  background-color: #fff;
  padding: 2px 10px;
}
